In [ ]:
a = 54 
b = a**8 # power operation
print(b)

In [ ]:
# Explain
# `a` is placeholder which can have any value
# `b` is another placeholder which we assign value of `a` to the power of 8
# each line above is an expression

# Dissecting the program
- code - this is an isntruction for the computer
- comments - this is an explanation for the human/another-programmer

# Jupyter basics
 - markdown cell
 - code cell
 - result from last line will printed

- this is an example markdown cell

In [ ]:
2+3 # expression

# Pyton Basics

## Entering Expressions into Code Cell

In [ ]:
2+2 # code which evaluate into single value: E: 4

## Errors are okay
- error means computer did not undersand
- harmless

In [ ]:
2+2

In [ ]:
2/0

## Data Types
- integers: 
  - 1,2,3, -4
- floating point numbers
  -  1.2
- strings:
  -  'name'

In [ ]:
12

In [ ]:
12.4

In [ ]:
a = 'some text'

In [ ]:
a

## String Concatenation and Replication

- for numeric data types + means addition
- for string data types `+` means concatenation operator

In [ ]:
mystring = 'software' + ' ' + 'programming'
mystring # last line prints by default

In [ ]:
mynumber = 2+5 # it is not 25
mynumber

- same principle applies for `*` as well

In [ ]:
mystring*5 # * is a repetition operator, not a multiplication operator

# Storing Values in Variables

- a variable is like abox or a container

## Assignment Statements
- assignemnt statement consists of variable name, an equal sign (assignment operator), value to be stored

In [ ]:
age = 3 # asigning value (3) to a variable (age)

In [ ]:
age

In [ ]:
age=age+1
age

In [ ]:
# when a new value is assigned to a variable, the old value is lost
age = 31 
age

## Variable names
![alt text](20220905092625.png "Title")

- valid variable names

In [ ]:
my_age = 21

In [ ]:
my_age1 = 21

In [ ]:
_my_age = 21

- invalid variable names

In [ ]:
my_age@ = 21
my_age

In [ ]:
2my_age = 21

In [ ]:
my-age = 21

# First Program
- program greets user
- asks for name
- responds with his name
- prints lengths of the name
- asks for age
- computes the age for the next year and prints

In [1]:
print('Hello')
print("Plesae enter your name")
name = input()
print('Welcome ', name)
print('lenth of your name is ', len(name))

print("what is your age?")
age = input()
print('age you entered is ', age)

print('you will be ', int(age)+1, ' in a year')

Hello
Plesae enter your name
Jumabek
Welcome  Jumabek
lenth of your name is  7
what is your age?
32
age you entered is  32
you will be  33  in a year

## about input

# September 8 - deeper look

## The print() Function

### cell output

In [2]:
print("this is a printing message")

this is a printing message

In [3]:
print("this is three seperate items",2,4)

this is three seperate items 2 4

In [ ]:
# every function has ()

## The input() Function

In [ ]:
##

In [4]:
message = input() # we have a variable named `message` and we assign a value which is read through input() function

this_is_input_string

In [5]:
message

'this_is_input_string'

In [6]:
message

'this_is_input_string'

## Printing the User’s Name

In [8]:
name = input()
print(name, 'is an instructor')

Jumabek
Jumabek is an instructor

## The len() Function
- function cuz has a `()`
- count the lengths of the string

In [1]:
a = 12conda install -n datascience ipykernel --update-deps --force-reinstall

In [10]:
a

12

In [11]:
len(a)

TypeError: object of type 'int' has no len()

In [17]:
name  = 'Software  Programming is difficult. However, it is valubale and worth it'
len(name)

72

20

## The str(), int(), and float() Functions

In [18]:
12

12

In [21]:
age = 12.3

In [22]:
int(age) # casting/converting the value of age into integer data type

12

In [37]:
salary = input() # input function by default reads string data type
salary = float(salary) # float means decimal number
print(salary)

100
100.0

In [38]:
type(salary)

float

In [39]:
salary = salary + 10 # numerical ops can be done on numbers only
salary

110.0

TypeError: can only concatenate str (not "int") to str

In [28]:
# equivalanbt expression
new_salary = float('23.3')+1

In [29]:
new_salary

24.3

In [33]:
print("Your  salary in one year is " + str(new_salary*12) )

Your  salary in one year is 396.0

### TEXT AND NUMBER EQUIVALENCE

In [41]:
int('12')==12 # == means equivalnce test

True

In [42]:
int('12')=12 # `=` is an assignment operator. E: a = 2

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (1974392463.py, line 1)

In [45]:
#
b = 2
b==3# as equivalent check

False

In [46]:
b

2

In [ ]:
# two thinkfs
1. google colab is used
2. screenshot enough

# Homework

## Question 0: write a code that does the following
- assign your name to a variable 
- print the variable to the `cell output`

## Solution 0:

In [1]:
## write your code here

## Question 1: Which of the following is a numeric(int, float) value, and which is a string?
- `*`
- `'hello'`
- `-88.8`
- `-`
- `/`
- `+`
- `5`

## answer 1: type the correct answer(s) below; e.g. 1,2

type here

## Question 2: which of the following is a variable and which is a string?
- `spam`
- `'spam'`

## Answer 2: type the correct answer below:

type here